/* CSS Document */
.swiper1 img {
    width: 100%;
}

.swiper1 {
    position: relative;
}

.swiper1 .slogan {
    position: absolute;
    width: 100%;
    top: 37%;
    color: #fff;
    text-align: center;
    line-height: 1.5em;
}

.swiper1 .slogan strong {
    color: #fff;
    font-size: 1.41em;
}

.swiper1 .slogan span {
    display: block;
    font-size: 1.13em;
    margin-top: 10px;
    line-height: 2em;
}

.swiper1 .swiper-slide span {
    letter-spacing: -2px;
}


/* 본문컨텐츠영역 */
#content h3 {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 1.31em;
    margin: 40px 0 10px 0;
    height: 50px;

}

#content h3::before {
    content: '';
    width: 7.5px;
    height: 7.5px;
    position: absolute;
    background-color: #da591c;
    border-radius: 50%;
    right: 35%;
    bottom: 100%;
}

.swiper-slide {
    position: relative;
}

.swiper-slide h4 {
    text-align: center;
    font-size: 1.09em;
    font-weight: bold;
    position: absolute;
    top: 20px;
    width: 100%;
    color: #fff;
}

.swiper-slide ul li {
    text-align: center;
    font-size: 0.9em;
    line-height: 1.5em;
    position: absolute;
    top: 89px;
    width: 100%;
    color: #fff;
}

.swiper-slide ul li:nth-of-type(4) {
    top: 70%;
}

.swiper-slide img {
    width: 100%;
}

.swiper-slide .icon {
    width: 100%;
    font-size: 1.33em;
    top: 50px;
    margin-right: 50px;
}

.swiper-slide .icon:nth-of-type(1) {
    right: -33px;
}

.swiper-slide .icon:nth-of-type(2) {
    right: -73px;
}

.swiper-slide li>a {
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.8em;
    text-align: center;
    padding: 3px;
}

/* 지속가능경영 */
#social h3::before {
    right: 29%;
}

#social ul li img {
    width: 100%;
}

#social ul {
    overflow: hidden;
}

#social ul li {
    float: left;
    width: calc(50% - 35px);
    margin: 10px;
    position: relative;

}

#social ul li:nth-of-type(1) {
    margin-left: 30px;
}

#social ul li:nth-of-type(3) {
    margin-left: 30px;
}

#social span {
    display: block;
    position: absolute;
    font-weight: bold;
    top: 40%;
    width: 100%;
    color: #fff;
    text-align: center
}

/* PR센터 */
#pr h3::before {
    right: 37%;
}

#pr video {
    width: 100%;
}

/* 인재채용 */
.person img {
    width: 100%;
}



.person .box dl {
    background: #6b9ec6;
    color: #fff;
    width: 100%;
    height: 100%;
    letter-spacing: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.person .box dl dt {
    font-size: 1.06em;
    font-weight: bold;
}

.person .box dl dd {
    font-size: 0.9em;
    line-height: 1.5em;
}

.box {
    display: grid;
    justify-content: center;
    padding: 10px;
    grid-template-columns: repeat(2, 50%)
}

.box .item:nth-of-type(1) dl {
    border-top-left-radius: 10px;
}

.box .item:nth-of-type(2) img {
    border-top-right-radius: 10px;
}

.box .item:nth-of-type(5) dl {
    border-bottom-left-radius: 10px;
}

.box .item:nth-of-type(1) dt {
    padding-top: 10px;
}

.box .item:nth-of-type(5) dt {
    padding-top: 10px;
}

/* contact */
#contact {
    margin-top: 90px;
}

#contact .contact_content {
    background: url(../images/contactx2.jpg) 0 0 no-repeat;
    background-size: cover;
    height: 230px;
    overflow: hidden;
}

#contact h3 {
    color: #fff;
    padding-top: 10px;
    margin: 20px 0 0 0;
}

#contact h3::before {
    background: none;
}

#contact p {
    font-size: 0.94em;
    text-align: center;
    color: #fff;
    letter-spacing: -1px;
    line-height: 2.5em;
}

#contact p:nth-of-type(2) {
    margin-bottom: 20px;
}

#contact .contact_content div {
    width: 100%;
    text-align: center;
}

#contact .contact_content a {
    font-size: 0.94em;
    color: #fff;
    letter-spacing: -1px;
    line-height: 2.5em;
    padding: 3px 7px;
    border: 1px solid #fff;
    border-radius: 10px;
}