#wrap .visual {
    background: url(../images/main.jpg) 0 0 no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    background-position: center;
}

#wrap .visual h3 {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
}


.subNav {
    border-bottom: 1px solid #ccc;
}

.subNav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.subNav ul li {
    position: relative;
    width: 33.3%;
    float: left;
    padding: 0px 8px;
    text-align: center;
    line-height: 1.5em;
}

.subNav ul li a {
    display: block;
    padding: 20px 0;
    font-size: 1.06em;
    color: #333;
    font-weight: bold;
    letter-spacing: -1px;
}

.subNav .current a {
    color: #da291c;
}

.subNav .current a::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #da291c;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 26px 0;
    position: relative;
}

h2::before {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #999;
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -0.5px;
}

.intro {
    margin-top: 60px
}

.intro h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.31em;
    letter-spacing: -1px;
}


.intro span {
    color: #da291c;
}

.intro p {
    margin-top: 20px;
    text-align: center;
    font-size: .9em;
    font-weight: 400;
    letter-spacing: -1px;
}